* {
    padding: 0;
    margin: 0;
}

.Main.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    gap: 3%;
    padding: 1%;
}

.Main.Container .Left.Session {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 2%;
    gap: 15px;
}

.Main.Container .Left.Session h1 {
    display: flex;
    justify-content: center; 
}

.Main.Container .Left.Session button {
    width: 50px;
    height: 50px;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 25px;
    border: none;
}

.Main.Container .Left.Session button:hover {
    background: grey;
    color: white;
}

.Main.Container .Bookcase {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(autofill, 1fr);
    gap: 5%;
    overflow: scroll;
    height: 50vh;
    width: 50vw;
    border: 2px solid black;
}

.Main.Container .Bookcase .Book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    width: 20vw;
    height: 15vh;
    border: 2px solid red;
}

.Main.Container .Bookcase .Book .Title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    background: gray;
    height: 30%;
}


#dialogue-box {
    display: none;
    position: absolute;
    top: 25%;
    left: 50%;
    height: 50%;
    width: 30%;
    box-shadow: 10px 10px 10px black;
    border: 3px solid rgb(0, 0, 0);
}

dialog {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

dialog > div:nth-child(1) {
    display: flex;
    gap: 50px;
}

dialog > div:nth-child(1) > button{
    width: 50px;
    font-weight: bolder;
}

#dialogue-box form {
    display: flex;
    flex-direction: column;
    height: auto;
    background: rgb(233, 233, 233);
    padding: 5%;
    gap: 30px;
}

#dialogue-box form > session > #submit {
    align-self: center;
    font-weight: bolder;
    width: auto;
    height: 50px;
}

#dialogue-box form > session > input {
    padding: 2%;
    font-size: 15px;
}




