* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    gap: 3%;
    padding: 1%;
}

h1 {
    width: 500px;
    background: red;
}

.Bookcase {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(autofill, 1fr);
    gap: 5%;
    overflow: scroll;
    height: 50vh;
    width: 80vw;
    border: 2px solid black;
}

.Bookcase .Book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    width: 20vw;
    height: 15vh;
    border: 2px solid red;
}

.Bookcase .Book .Title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    background: gray;
    height: 30%;
}


